<div class="container">
  <div class="row g-0">
    <div class="row g-0">
      <div class="col text-center p-2 mb-3 rounded-3 bg-info">
        <span class="fs-3">Categories</span>
      </div>
    </div>
    <div class="col">
      <table class="table table-hover text-white">
        <thead class="thead text-danger" style="font-weight: 1">
          <tr>
            <!-- <th>CategoryId</th> -->
            <th>Category Name</th>
            <th>Category Description</th>
          </tr>
        </thead>
        <tbody class="thead text-black" style="font-weight: 1">
          <tr *ngFor="let p of categoryService.categoryList">
            <!-- <td>{{ p.CategoryId }}</td> -->
            <td>{{ p.CategoryName }}</td>
            <td>{{ p.CategoryDescription }}</td>            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
