.navbar{
    background: #5d4037;
    position:relative;
    width: 100vw;
    font-family:'Trebuchet MS';     
} 
.nav-link{
    font-weight: bolder;
}

.nav1{
    margin-right: 15px;
}

.btn{
    background: #5d4037;
    color: #f8bbd0;
}  