<app-navbar></app-navbar>
<router-outlet></router-outlet>


<!-- <ng-container *ngIf="user; else auth">
  <app-create-task (addTask)="addTask($event)"></app-create-task>
  <app-tasks [tasks]="tasks" (completed)="completed($event)"></app-tasks>
</ng-container>

<ng-template #auth>
  <app-auth (setUser)="setUser($event)"></app-auth>
</ng-template> -->



<footer class="text-center  fixed-bottom" style="background-color: #36008D; color: #00c9b8; font-weight: bolder; border-top-left-radius: 15px;
border-top-right-radius: 15px;">

  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0);">

      &#169; Appointment Scheduling System

  </div>  
  
</footer>