<app-navbar></app-navbar>
<router-outlet></router-outlet>

<footer class="text-center  fixed-bottom" style="background-color: #5d4037; color: #f8bbd0; font-weight: bolder;">

  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0);">
      &#169; Order Management System
    <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a> 
    <a href="https://twitter.com/?lang=en-in"><i class="fa fa-twitter"></i> </a> 
    <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
  </div> 

</footer>