<div class="container">
    <div class="row g-0">
      <div class="row g-0">
        <div class="col text-center p-2 mb-3 rounded-3 text-black" style="background-color:#f868b0">
          <span class="fs-3">Products</span>
        </div>
      </div>
      <div class="col">
        <table class="table table-hover text-white">
          <thead class="thead text-info" style="font-weight: 1">
            <tr>
              <th>ProductId</th>
              <th>Product Name</th>
              <th>Category Id</th>
              <th>ProductPrice</th>
            </tr>
          </thead>
          <tbody class="thead text-black" style="font-weight: 1">
            <tr *ngFor="let p of productsService.productsList">
              <td>{{ p.ProductId }}</td> 
              <td>{{ p.ProductName}}</td>
              <td>{{ p.CategoryId}}</td>
              <td>{{ p.ProductPrice}}</td>
              <td>
                <button type="button" class="btn btn-primary rounded-5" (click)="fillForm(p)">
                  <i class="fa fa-shopping-cart"></i>
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-danger rounded-5" (click)="del(p.ProductId)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>


        <form #form="ngForm" class="form bt1  p-3 mb-3 rounded-3 mat-card">
          <input type="hidden" name="CartId" [value]="cartService.cartData.CartId">
      <div class="row">
          <div class="col mb-3">
              <label for="UserId" class="form-label fs-5">UserId</label>
              <input  name="UserId" type="UserId" class="form-control text-black" id="UserId" #UserId="ngModel" [(ngModel)]="cartService.cartData.UserId"/>
              <div class="form-text"></div>
          </div>
          <div class="col mb-3 ps-3">
              
              <label for="ProductId" class="form-label fs-5">ProductId</label>
              <input value="{{productsService.productsData.ProductId}}" name="ProductId" class="form-control ps-3 text-black" id="ProductId"  #ProductId="ngModel" [(ngModel)]="cartService.cartData.ProductId" readonly>
              <div class="form-text"></div>       
          </div>
          <div class="col mb-3 ps-3">
              
            <label for="Totalcost" class="form-label fs-5">Price</label>
            <input  value="{{productsService.productsData.ProductPrice}}" name="Totalcost" type="Totalcost" class="form-control ps-3 text-black" id="Totalcost" #Totalcost="ngModel" [(ngModel)]="cartService.cartData.Totalcost"/>
            <div class="form-text"></div>       
        </div>
      
      </div>
      
      <div class="row">
          <div class="col-4 offset-4">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary rounded-5" (click)="AddToCart(form)">
                  <i class="fa fa-shopping-cart"></i> Add to Cart</button>
            </div>
        </div>
        </div>
        <div class="row"><br></div>
      </form>


      </div>
    </div>
  </div>
  