/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

body{
    
    background-image: url("https://www.jqueryscript.net/images/stripe-gradient-animation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

form{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);    
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);    
}

.green-icon{
    color: lightgreen;
}

.blue-icon{
    color:darkblue
}

.red-icon{
    color: red;
}

input.ng-touched.ng-invalid{
    border-color: darkred;
}

input.ng.valid{
    border-color: darkgreen;
}

.green-circle{
    color: darkgreen;
}